.title {
  padding: 0 8px;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.093px;
  color: #50525a;
  opacity: 0.8;
  margin-top: 28px;
}
.see-more {
  color: var(--primary-color);
  margin: 0;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 18px;
  letter-spacing: 0.093px;
  margin-left: 8px;
  margin-top: 8px;
  cursor: pointer;
}
