.wrapped {
  width: 100%;
  height: 60px;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
}
.inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px 0 16px;
}
.logo {
  display: flex;
  align-items: center;
  width: 300px;
  flex: 1;
}
// Action
.action-box {
  flex: 1;
  width: 262px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
body .add-btn {
  width: 112px;
  display: flex;
  justify-content: flex-end;
  padding-right: 16px;
  align-items: center;
}
body .options {
  border: none;
  min-width: 30px;
  font-size: 2rem;
  font-weight: 400;
  margin-left: 8px;
  &:hover {
    background-color: unset;
  }
}
.msg-btn {
  background-color: unset;
  font-size: 2.2rem;
  cursor: pointer;
  margin-left: 12px;
  color: var(--black-color);
}
.user-avatar {
  margin-left: 24px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
}
