.container {
  padding: 20px;
}
.preview-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.preview-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.preview-name {
  margin: 0;
  margin-top: 12px;
  align-items: center;
  max-width: 220px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.preview-nickname {
  margin: 0;
  font-size: 1.2rem;
  opacity: 0.6;
}
.preview-rate {
  margin: 0;
  font-size: 1.5rem;
  color: #666666;
}
.preview-follower {
  font-weight: 700;
  color: var(--black-color);
}
.preview-like {
  margin-left: 10px;
  color: var(--black-color);
  font-weight: 700;
}
.preview-info {
  position: relative;
}
.preview-icon {
  position: absolute;
  color: #20d5ec;
  right: 0;
  top: 15px;
}
