@import 'normalize.css';
// @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500,600,700&display=swap&subset=vietnamese');

:root {
  --primary-color: #ff3b5c;
  --black-color: #121212;
  --white-color: #fff;

  //
  --header-width: 500px;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'TiktokFont', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  margin: 0;
  padding: 0;
}
button {
  border: none;
}
a {
  text-decoration: none;
  color: unset;
}
//Font -embedded
@font-face {
  font-family: TiktokFont;
  src: url('/assets/fonts/TikTokDisplayFont-Bold.woff2');
  font-weight: 700;
}
@font-face {
  font-family: TiktokFont;
  src: url('/assets/fonts/TikTokFont-Regular.woff2');
  font-weight: 400;
}
// Margin
.mg-r8 {
  margin-right: 8px;
}
.mg-l8 {
  margin-left: 8px;
}
// Padding
.pd-l8 {
  padding-left: 8px;
}
.pd-l20 {
  padding-left: 20px;
}
.pd-r12 {
  padding-right: 12px;
}
// Overide Tippy

body {
  .tippy-box {
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    background-color: rgba(84, 84, 84, 0.92);
    color: rgb(255, 255, 255);
    letter-spacing: 0.03px;
    padding: 2px;
  }
  .tippy-arrow {
    color: rgba(84, 84, 84, 0.92);
  }
  .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
    top: -8px;
  }
}
